
<li class="media blog-item">
	<div class="date-box">
		Jan 22 2018
	</div>
	<div class="media-body">
		<h5>Title goes here</h5>
		as;dkfljasdfkl;asdfkl;sdfjadkls;fjasdl;kfjasdl;kfjasdl;kfjasdl;kfjasdfkl;asdjfkl;asdfjakl;dsfjakl;sdfjadls;kfj
	</div>
</li>
