<div class="jumbotron">
	<div class="container">
		<div class="row align-items-center">
			<div class="col">
				<center>
					<img class="profile-header-image" src="https://camo.githubusercontent.com/0df07ce86fb423df868711c806d4f5ac4a87c2ae/687474703a2f2f692e696d6775722e636f6d2f4971664b4376442e706e67" />
					<h1 class="font-weight-light">Camilo Gonzalez</h1>
					<p>Coffee addict, Student at RIT and<br/> Co-Founder of <a href="https://www.raluce.com">Raluce</a></p>
				</center>
			</div>
		</div>
	</div>
</div>