// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header-image {
	width: 150px;
}

.date-box {
	width: 125px;
	height: 64px;
	color: gray;
}

.blog-item {
	padding-top: 25px;
}