// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
	padding-bottom: 60px;
}

.profile-header-image {
	width: 150px;
}

.date-box {
	width: 125px;
	height: 64px;
	color: gray;
}

.blog-item {
	padding-top: 25px;
}

.footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}